<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/_head :: head('Login • SafeYard')}"></head>
<body class="bg-light">
<div class="container py-5" style="max-width: 420px;">
    <div class="card shadow-sm">
        <div class="card-body p-4">
            <h1 class="h4 text-center mb-4">Entrar</h1>

            <div th:if="${errorMsg}" class="alert alert-danger" th:text="${errorMsg}"></div>
            <div th:if="${logoutMsg}" class="alert alert-success" th:text="${logoutMsg}"></div>
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>


            <form method="post" th:action="@{/login}" novalidate>
                <div class="mb-3">
                    <label class="form-label">E-mail</label>
                    <input class="form-control" type="text" name="username" placeholder="Digite aqui" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Senha</label>
                    <input class="form-control" type="password" name="password" placeholder="Digite aqui" required>
                </div>
                <button class="btn btn-primary w-100" type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
